@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@keyframes fadeEnter {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slightEnterUp {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@theme {
  --color-purple: #6c40b5;
  --color-dark-purple: #28124d;
  --color-dark-black: #1a1a1a;
  --animate-fadeEnter: fadeEnter 1s ease-in-out 1;
  --animate-slightEnterUp: slightEnterUp 2s ease-in-out 1;
}

@custom-variant dark (&:where(.dark, .dark *));

body {
  color: var(--foreground);
}

p,
h1,
h2,
h3 {
  margin: 0px;
  padding: 0px;
}

.scroll-history::-webkit-scrollbar {
  width: 4px;
  background: transparent;
}

.scroll-history::-webkit-scrollbar-track {
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

.scroll-history::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.2);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

.bg-image-cover {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
